@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
    display: flex;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(image/ghibli-background.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}
.container{
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    margin-top: 15vh;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active{
    background: #fff;
    color: #000;
}
ul{
    margin-left: -45pcx;
}
li{
    list-style: none;
    display: inline-block;
}
.team-gacor{
    width: 80%;
    margin: auto;
    margin-bottom: 10vh;
}
.team-gacor .container{
    width: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    margin-top: 10vh;   
}
.team-gacor .container .row{
    width: 60%;
    margin: auto;
}
.team-gacor .container .row .title{
    text-align: center;
    margin-top: 50px;
}
.team-gacor .container .row .title h1{
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #fff;
}
.team-gacor .container .team-card{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin: auto;
}
.team-gacor .container .team-card .card{
    width: 60%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    cursor: pointer;
    margin: auto;
    transition: transform 0.5s;
}
.team-gacor .container .team-card .card:hover{
    transform: translateY(-10px)
}
.team-gacor .container .team-card .card .image-section img{
    height: 150px;
    width: 150px;
    background-image: url('image/circle.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 6px solid transparent;
}
.team-gacor .container .team-card .card .content{
    width: 100%;
    text-align: center;
}
.team-gacor .container .team-card .card .content h3{
    font-size: 27px;
    margin-top: 10px;
    letter-spacing: 1.5px;
    color: #fff;
}
@media screen and (max-width: 900px){
    .team-gacor .container .team-card{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 768px){
    .team-gacor .container .team-card{
        grid-template-columns:1fr;
    }
}